SS07 - Create Outbound Call When contact Added into GHL (Support ai).json
{
  "name": "SS07 - Create Outbound Call When contact Added into GHL (Support ai)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a31170bc-9dc9-41d1-b763-b57a4f671685",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -480,
        1088
      ],
      "id": "e232825f-6449-4a57-a3dd-be6fa595045a",
      "name": "Webhook",
      "webhookId": "a31170bc-9dc9-41d1-b763-b57a4f671685"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -80,
        -16
      ],
      "id": "4bc72463-d81e-4995-8eb2-c9fa9f081443",
      "name": "Wait",
      "webhookId": "d493bd77-e3cf-4007-a005-f8b40695875e"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/v2/create-phone-call",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer key_ad6410cd34a6d1252a3c14a0e6bf"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from_number\": \"+19896629218\",\n  \"to_number\": \"+1{{ $json.Phone }}\",\n  \"call_type\": \"phone_call\",\n  \"retell_llm_dynamic_variables\": {\n    \"name\": \"{{ $json.Name }}\",\n    \"email\": \"{{ $json.Email }}\",\n    \"phone\": \"{{ $json.Phone }}\"\n  },\n  \"override_agent_id\": \"agent_3efec75090afd7461e7753199c\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        112,
        -16
      ],
      "id": "bf10501f-dd1b-4f02-97ac-851612fbe379",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "formTitle": "Outbound Calls Form",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email"
            },
            {
              "fieldLabel": "Phone",
              "fieldType": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -288,
        -16
      ],
      "id": "4a8fae1a-0e86-406b-8e64-14f07ddc3a98",
      "name": "On form submission",
      "webhookId": "998acb72-ce0a-4118-bfb2-17c07cd19fef"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        []
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ac4565fd-4b1a-47b8-8c99-a2d5a3917eb6",
  "meta": {
    "instanceId": "6c4c446d5304742a3c3b35610a91a9314f8fa6e78abf59256949d198dc0f9226"
  },
  "id": "kRgNXcUww5xfgFMH",
  "tags": []
}